/*Selector de hijos*/

p>span{
	color: blue;
}

div>h1{
	margin: 100px;
	color: #5B3A3A;
	background: black;
}

h1+h2{
	text-decoration: underline; /*subrrayado*/
	color: #CEB7B7;
}

p+p{
	text-decoration: underline;
	color: #A70E0E;
}

/*Selector de atributos*/

a[class]{
	color: green;
}

a[class="unaClase"]{
	color: blue;
}

a[class~="otraClase"]{ /*~ nos sirve para que */
	color: blue;
	margin-left: 20px;
}

/*Lang*/
*[lang|="de"]{
	color: brown
}